@import 'path_file.scss';

$black: #202121;
$blue: #034cd2;

*{
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: 'Stolzl', sans-serif;
	outline: none;
	box-sizing: border-box;
	font-weight: 300;
}

body,html{
	height: 100%;
	background: #dedede;
}
.container{
	width: 90%;
	margin-right: auto;
  	margin-left: auto;
}

/*Fonts*/
h1{
	font-size: 2.5rem;
	line-height: 1.1;
	font-weight: 500;
}

/*Buttons*/
.btn1{
	display: inline-block;
	text-decoration: none;
	padding: 1rem 2rem;
	border-radius: 2rem;
	background: $blue;
	color: #fff; 
}


/*Header*/

header{
	display: block;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;

	.menu-btn{
		float: left;
		height: 60px;
		padding: 0rem 1rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover .ico-menu .bar:after{
			left:0;
		}
		span{
			
			position: relative;
		}
	}
	.ico-menu{
		width: 15px;
		height: 10px;
		margin-right: 1rem;
		position: relative;

		.bar{
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #202121;
			border-radius: 2px;
			overflow: hidden;
			 &:after{
			   content: '';
			   display: block;
			   width: 100%;
			   height: 100%;
			   background: #A6ABAB;
			   position: absolute;
			   top: 0;
			   left: 100%;
			   z-index: 1;
			   transition: 0.3s;
			}
		}
		.bar:nth-child(1){
			top: 0;
			&:after{
				transition-delay:0.1s;
			}			
		}
		.bar:nth-child(2){
			top: 4px;
			&:after{
				transition-delay:0.2s;
			}			
		}
		.bar:nth-child(3){
			top: 8px;
			&:after{
				transition-delay:0.3s;
			}			
		}
	}
	.menu-logo{
		flex-grow: 1;
		display: flex;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;

		.logo-img{
			background: #034cd2;
			padding: 15px 20px;
			height: 60px;
			font-weight: 600;
		}
	}
	.phone{
		display: none;
		text-align: center;
		padding: 0px 15px;
	}
}

/* Menu */

.menu{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	outline: none;
	transition-delay: 0.85s;

	@include _lg {
		display: flex;
	}

	.menu-box{
		display: block;
		width: 100%;
		height: 25%;
		outline: none;
		text-decoration: none;
		color: #fff;

		@include _lg {
			width: 25%;
			height: 100%;
		}

		&-content{
			width: 100%;
			height: 0%;
			background: #202121;
			transition: 0.35s cubic-bezier(.215,.61,.355,1);
			transition-delay: 0.1s;
			display: flex;
    		justify-content: center;
			align-items: center;

			@include _lg {
				width: 0%;
				height: 100%;
			}

			&-1{
				transition-delay: 0.65s;

				& p{
					transition-delay: 0.4s;
				}
			}
			&-2{
				transition-delay: 0.55s;

				& p{
					transition-delay: 0.3s;
				}
			}
			&-3{
				transition-delay: 0.45s;

				& p{
					transition-delay: 0.2s;
				}
			}
			&-4{
				transition-delay: 0.35s;

				& p{
					transition-delay: 0.1s;
				}
			}
		}
	}
}
.menu-visible.menu .menu-box-content-1{
	transition-delay: 0.35s;

	& p{
		transition-delay: 0.55s;
	}
}
.menu-visible.menu .menu-box-content-2{
	transition-delay: 0.45s;
	background: #212222;

	& p{
		transition-delay: 0.65s;
	}
}
.menu-visible.menu .menu-box-content-3{
	transition-delay: 0.55s;
	background: #262727;

	& p{
		transition-delay: 0.75s;
	}
}
.menu-visible.menu .menu-box-content-4{
	transition-delay: 0.65s;
	background: #2a2b2b;

	& p{
		transition-delay: 0.85s;
	}
}
.menu-box-content-head{
	cursor: pointer;
	font-size: 1.5rem;
	opacity: 0;
	transition: 0.35s;
}
.menu-visible.menu .menu-box-content-head{
	opacity: 1;
}
.menu-box-btn{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.35s;
	transition-delay: 0.65s;
	cursor: pointer;

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		width: 3rem;
		height: 100%;
	}

	& .bar{
		width: 15px;
		height: 2px;
		background: #fff;
		border-radius: 2px;
		position: relative;

		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			transform: rotate(-45deg);
			top: -2px;
		}
	}
}
.menu-visible.menu .menu-box-btn{
	transition-delay: 0.35s;
	opacity: 1;
}
.menu-visible.menu{
	left: 0;
	transition-delay: 0s;
}
.menu-visible.menu .menu-box-content{
	height: 100%;

	@include _lg {
		width: 100%;
	}
}

/* Main screen*/

.main-screen{
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 0px;
	height: 85%;
	background: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
	align-items: center;
	
	@include _lg {
		height: 100%;
	}

	.bg-video{
		position: absolute;
		display: none;
		top: 10%;
		right: 0;
		width: 50%;
		height: 80%;
		overflow: hidden;

		@include _lg {
			display: block;
		}

		& video{
			height: 100%;
			opacity: 0.75;
		}
	}

	&-wrap{
		width: 100%;

		@include _lg {
			width: 50%;
		}
	}

	.agency-name{
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.main-desc{
		font-size: 1.5rem;
		color: #202121;
		line-height: 1.2;
		opacity: .4;
		margin-bottom: 2rem;
	}
	.main-label{
		font-size: 1rem;
		color: #202121;
		line-height: 2;
		opacity: 0.4;
		margin-bottom: 2rem;
	}
	.soc-box{
		position: absolute;
		bottom: 1rem;
		justify-content: left;

		@include _lg {
			bottom: 10%;
		}

		a{
			text-decoration: none;
			color: #202121;
			padding: .5rem 1rem;
		}
		a:nth-child(1){
			padding-left: 0px;
		}
		a:nth-child(2){
			border-right: 1px solid #dedede;
			border-left: 1px solid #dedede;
		}
		a:nth-child(3){
			padding-right: 0px;
		}
	}
}

/* Services screen*/

.services-screen{
	width: 100%;
	background: #202121;
	padding: 3rem 0 3rem;
	
	.headline_white{
		color: #fff;
		font-size: 1.5rem;
		padding-bottom: 3rem;
	}
	.services-wrap{
		display: flex;
		flex-wrap: wrap;
	}
	.services-box{
		margin-top: 1rem;
		display: block;
		position: relative;
		width: 100%;
		height: 14rem;
		border-radius: 1rem;
		background: #fff;
		padding: 0;
		overflow: hidden;

		@include _lg {
			height: 17rem;
		}

		@include _lg {
			margin-top: 0rem;
			width: calc(50% - 0.5rem);
		}

		a{
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		&-img{
			position: static;
			width: 100%;
			height: 100%;
		}

		&-text{
			position: absolute;
			top: 0;
			left: 0;
			padding: 2rem;
			z-index: 1;
		}

		&-head{
			color: #202121;
			font-size: 1.4rem;
			font-weight: 400;
		}
		&-desc{
			color: #202121;
			opacity: 0.5;
			font-size: 1rem;
			line-height: 1.5rem;
			font-weight: 300;
			margin-top: 1rem;
		}
	}
	.services-box:nth-child(1){
		margin-top: 0;
	}	
	.services-box:nth-child(1),.services-box:nth-child(3){
		@include _lg {
			
		}
	}
	.services-box:nth-child(2),.services-box:nth-child(4){
		@include _lg {
			margin-left: 1rem;
			float: right;
		}
	}
	.services-box:nth-child(3),.services-box:nth-child(4){
		@include _lg {
			margin-top: 1rem;
		}
	}
}

/* Case screen*/

.case-screen{
	width: 100%;
	background: #fff;
	padding: 3rem 0 3rem;

	.headline_black{
		color: #202121;
		font-size: 1.5rem;
		padding-bottom: 3rem;
	}
	.case-box{
		width: 100%;
		display: flex;
		flex-flow: column;
		padding: 4rem 0 0;

		@include _lg {
			flex-flow: row-reverse;
			align-items: center;
		}

		&:nth-child(1){
			padding-top: 0;
		}

		&-img{
			position: relative;
			left: -15px;
			width: calc(100% + 30px);
			height: 12rem;
			background: #fbfbfb;
			display: block;

			@include _lg {
				width: 50%;
				height: 20rem;
			}
		}
		&-text{
			padding-top: 2rem;

			@include _lg {
				width: 50%;
			}
		}
		&-head{
			color: #202121;
			font-size: 1.5rem;
			font-weight: 400;
		}
		&-desc{
			color: #202121;
			font-size:  1.5rem;
			opacity: 0.5;
			line-height: 2rem;
			font-weight: 300;
			margin-top: 1rem;
		}
		&-link{
			display: block;
			float: left;
			font-weight: 400;
			padding-top: 2rem;
			padding-bottom: 4px;
			color: #034cd2;
			border-bottom: 1px solid #034cd2;;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 0.9rem;
		}
	}
}

/* Case screen*/

