* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Stolzl';
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

body, html {
  height: 100%;
  background: #dedede;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/*Fonts*/
h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 500;
}

/*Buttons*/
.btn1 {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: #034cd2;
  color: #fff;
}

/*Header*/
header {
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
header .menu-btn {
  float: left;
  height: 60px;
  padding: 0rem 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .menu-btn:hover .ico-menu .bar:after {
  left: 0;
}
header .menu-btn span {
  position: relative;
}
header .ico-menu {
  width: 15px;
  height: 10px;
  margin-right: 1rem;
  position: relative;
}
header .ico-menu .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #202121;
  border-radius: 2px;
  overflow: hidden;
}
header .ico-menu .bar:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #A6ABAB;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .ico-menu .bar:nth-child(1) {
  top: 0;
}
header .ico-menu .bar:nth-child(1):after {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
header .ico-menu .bar:nth-child(2) {
  top: 4px;
}
header .ico-menu .bar:nth-child(2):after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
header .ico-menu .bar:nth-child(3) {
  top: 8px;
}
header .ico-menu .bar:nth-child(3):after {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
header .menu-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
header .menu-logo .logo-img {
  background: #034cd2;
  padding: 15px 20px;
  height: 60px;
  font-weight: 600;
}
header .phone {
  display: none;
  text-align: center;
  padding: 0px 15px;
}

/* Menu */
.menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  outline: none;
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}
@media (min-width: 992px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu .menu-box {
  display: block;
  width: 100%;
  height: 25%;
  outline: none;
  text-decoration: none;
  color: #fff;
}
@media (min-width: 992px) {
  .menu .menu-box {
    width: 25%;
    height: 100%;
  }
}
.menu .menu-box-content {
  width: 100%;
  height: 0%;
  background: #202121;
  -webkit-transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .menu .menu-box-content {
    width: 0%;
    height: 100%;
  }
}
.menu .menu-box-content-1 {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}
.menu .menu-box-content-1 p {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu-box-content-2 {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
.menu .menu-box-content-2 p {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu-box-content-3 {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.menu .menu-box-content-3 p {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu-box-content-4 {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.menu .menu-box-content-4 p {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-visible.menu .menu-box-content-1 {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.menu-visible.menu .menu-box-content-1 p {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-visible.menu .menu-box-content-2 {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
  background: #212222;
}
.menu-visible.menu .menu-box-content-2 p {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.menu-visible.menu .menu-box-content-3 {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
  background: #262727;
}
.menu-visible.menu .menu-box-content-3 p {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.menu-visible.menu .menu-box-content-4 {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  background: #2a2b2b;
}
.menu-visible.menu .menu-box-content-4 p {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}

.menu-box-content-head {
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.menu-visible.menu .menu-box-content-head {
  opacity: 1;
}

.menu-box-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  cursor: pointer;
}
.menu-box-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 3rem;
  height: 100%;
}
.menu-box-btn .bar {
  width: 15px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  position: relative;
}
.menu-box-btn .bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-box-btn .bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -2px;
}

.menu-visible.menu .menu-box-btn {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
  opacity: 1;
}

.menu-visible.menu {
  left: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menu-visible.menu .menu-box-content {
  height: 100%;
}
@media (min-width: 992px) {
  .menu-visible.menu .menu-box-content {
    width: 100%;
  }
}

/* Main screen*/
.main-screen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  width: 100%;
  height: 75%;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 992px) {
  .main-screen {
    margin-top: 0px;
    height: 100%;
  }
}
.main-screen .bg-video {
  position: absolute;
  display: none;
  top: 10%;
  right: 0;
  width: 50%;
  height: 80%;
  overflow: hidden;
}
@media (min-width: 992px) {
  .main-screen .bg-video {
    display: block;
  }
}
.main-screen .bg-video video {
  height: 100%;
  opacity: 0.75;
}
.main-screen-wrap {
  width: 100%;
}
@media (min-width: 992px) {
  .main-screen-wrap {
    width: 50%;
  }
}
.main-screen .agency-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-screen .main-desc {
  font-size: 1.5rem;
  color: #202121;
  line-height: 1.2;
  opacity: .4;
  margin-bottom: 2rem;
}
.main-screen .main-label {
  font-size: 1rem;
  color: #202121;
  line-height: 2;
  opacity: 0.4;
  margin-bottom: 2rem;
}
.main-screen .soc-box {
  position: absolute;
  bottom: 1rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
@media (min-width: 992px) {
  .main-screen .soc-box {
    bottom: 10%;
  }
}
.main-screen .soc-box a {
  text-decoration: none;
  color: #202121;
  padding: .5rem 1rem;
}
.main-screen .soc-box a:nth-child(1) {
  padding-left: 0px;
}
.main-screen .soc-box a:nth-child(2) {
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
}
.main-screen .soc-box a:nth-child(3) {
  padding-right: 0px;
}

/* Services screen*/
.services-screen {
  width: 100%;
  background: #202121;
  padding: 3rem 0 3rem;
}
.services-screen .headline_white {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}
.services-screen .services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-screen .services-box {
  margin-top: 1rem;
  display: block;
  position: relative;
  width: 100%;
  height: 14rem;
  border-radius: 1rem;
  background: #fff;
  padding: 0;
  overflow: hidden;
}
@media (min-width: 992px) {
  .services-screen .services-box {
    height: 17rem;
  }
}
@media (min-width: 992px) {
  .services-screen .services-box {
    margin-top: 0rem;
    width: calc(50% - 0.5rem);
  }
}
.services-screen .services-box a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.services-screen .services-box-img {
  position: static;
  width: 100%;
  height: 100%;
}
.services-screen .services-box-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 1;
}
.services-screen .services-box-head {
  color: #202121;
  font-size: 1.4rem;
  font-weight: 400;
}
.services-screen .services-box-desc {
  color: #202121;
  opacity: 0.5;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
}
.services-screen .services-box:nth-child(1) {
  margin-top: 0;
}
@media (min-width: 992px) {
  .services-screen .services-box:nth-child(2), .services-screen .services-box:nth-child(4) {
    margin-left: 1rem;
    float: right;
  }
}
@media (min-width: 992px) {
  .services-screen .services-box:nth-child(3), .services-screen .services-box:nth-child(4) {
    margin-top: 1rem;
  }
}

/* Case screen*/
.case-screen {
  width: 100%;
  background: #fff;
  padding: 3rem 0 3rem;
}
.case-screen .headline_black {
  color: #202121;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}
.case-screen .case-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 4rem 0 0;
}
@media (min-width: 992px) {
  .case-screen .case-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.case-screen .case-box:nth-child(1) {
  padding-top: 0;
}
.case-screen .case-box-img {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  height: 12rem;
  background: #fbfbfb;
  display: block;
}
@media (min-width: 992px) {
  .case-screen .case-box-img {
    width: 50%;
    height: 20rem;
  }
}
.case-screen .case-box-text {
  padding-top: 2rem;
}
@media (min-width: 992px) {
  .case-screen .case-box-text {
    width: 50%;
  }
}
.case-screen .case-box-head {
  color: #202121;
  font-size: 1.5rem;
  font-weight: 400;
}
.case-screen .case-box-desc {
  color: #202121;
  font-size: 1.5rem;
  opacity: 0.5;
  line-height: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}
.case-screen .case-box-link {
  display: block;
  float: left;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 4px;
  color: #034cd2;
  border-bottom: 1px solid #034cd2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Case screen*/
.form-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20;
}
.form-container input {
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=main.css.map */